matplotlib==3.7.2
contourpy==1.0.5
cycler==0.11.0
fonttools==4.25.0
kiwisolver==1.4.4
numpy==1.24.0
packaging==23.1
pillow==10.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
seaborn==0.12.2
pandas==2.2.2
pytz==2023.3.post1
tzdata==2023.3
shap==0.44.1
cloudpickle==2.2.1
numba==0.57.1
scikit-learn==1.2.2
scipy==1.11.1
slicer==0.0.7
tqdm==4.65.0
llvmlite==0.40.0
joblib==1.2.0
threadpoolctl==3.5.0
colorama==0.4.6